#card .modal-dialog {
  width:1100px;
  height:720px;
  position: relative;
  margin: 0 auto;
}
#card .modal-content {
  width:1100px;
  height:720px;
  position: relative;
  margin: 0 auto;
}

#modalCard {
  width: 720px;
  height: 600px;
}
